div {
  font-family: Arial, sans-serif;
}
.box{
  width: 600px;
  height: 600px;
  border: 1000px solid white;
  }
  .box h1 {
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    height: 100px;
    text-align: center;
  }