{% extends "innerApp/base.html" %} {% block title%} WFL {% endblock %}


<div data-quiz=""
    class="questions wrp tw-pt-0 tw-px-15 tw-pb-15 tw-mx-auto tw-w-full tw-max-w-[1200px] tw-flex tw-justify-center tw-items-center tw-flex-col small:tw-p-[15px] min-[400px]:tw-px-30 large:tw-px-0">
    <fieldset data-v-3990c07c="" data-v-2b7c218e="" aria-disabled="false" aria-invalid="false"
        class="inputoptions sp-radiogroup sp-circles question tw-flex tw-flex-col tw-items-center tw-p-0 tw-pb-[20px] tw-w-full tw-max-w-[400px] tw-border-b tw-border-gray-04 tw-transition-opacity tw-duration-500 tw-ease-in-out medium:tw-max-w-none large:tw-pb-45 group--inline decision--dir-in-out-in inactive tw-opacity-30"
        data-question="" id="start-quiz">
        <legend data-v-3990c07c="" id="label__qcupx6wx5d" class="sr-only"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 1 of 60.</span>
                You regularly make new friends.
            </span> <!----> <!----> <!----></legend>
        <div data-v-3990c07c="" aria-hidden="true" class="input__label"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 1 of 60.</span>
                You regularly make new friends.
            </span> <!----></div> <!---->
        <div data-v-3990c07c="" data-groupoptions="" class="group__options">
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption agree text--green">
                Agree
            </div>
            <div data-v-3990c07c="" class="radios"><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-kwm56 size--70 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_xyo9nrdc60"><input data-v-9a8dcd16=""
                            aria-label="I strongly agree" aria-busy="false" id="radio_xyo9nrdc60" name="_qcupx6wx5d"
                            type="radio" tabindex="-1" value="-3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-ze4zx size--56 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_qcpbmhkzpe"><input data-v-9a8dcd16=""
                            aria-label="I moderately agree" aria-busy="false" id="radio_qcpbmhkzpe" name="_qcupx6wx5d"
                            type="radio" tabindex="-1" value="-2"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I moderately agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-w0nru size--46 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_sh1zyevenr"><input data-v-9a8dcd16="" aria-label="I agree"
                            aria-busy="false" id="radio_sh1zyevenr" name="_qcupx6wx5d" type="radio" tabindex="-1"
                            value="-1"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I agree <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-k6hin size--36 color--neutral"
                    tabindex="-1" data-v-3990c07c=""><label data-v-9a8dcd16="" for="radio_n5q8zg0av4"><input
                            data-v-9a8dcd16="" aria-label="I am not sure" aria-busy="false" id="radio_n5q8zg0av4"
                            name="_qcupx6wx5d" type="radio" tabindex="-1" value="0"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I am not
                            sure <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-nfkxp size--46 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_vsmrbxgn4x"><input data-v-9a8dcd16="" aria-label="I disagree"
                            aria-busy="false" id="radio_vsmrbxgn4x" name="_qcupx6wx5d" type="radio" tabindex="-1"
                            value="1"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I disagree <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-z9vnb size--56 color--purple"
                    tabindex="-1" data-v-3990c07c=""><label data-v-9a8dcd16="" for="radio_tmy6f6hb35"><input
                            data-v-9a8dcd16="" aria-label="I moderately disagree" aria-busy="false"
                            id="radio_tmy6f6hb35" name="_qcupx6wx5d" type="radio" tabindex="-1" value="2"> <span
                            data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span data-v-9a8dcd16=""
                            class="radio__label">I moderately disagree <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio is--checked radio--opt-ym6a6 size--70 color--purple" tabindex="0" data-v-3990c07c=""
                    data-focus-first="true"><label data-v-9a8dcd16="" for="radio_kh9qpd2qy6"><input data-v-9a8dcd16=""
                            aria-label="I strongly disagree" aria-busy="false" id="radio_kh9qpd2qy6" name="_qcupx6wx5d"
                            type="radio" tabindex="0" value="3" data-focus-first="true"> <span data-v-9a8dcd16=""
                            class="radio__tick"><span data-v-2b7c218e=""
                                class="sp-icon radio__icon icon--md icon--white icon--check" aria-hidden="true"
                                data-v-9a8dcd16=""><svg aria-labelledby="i_hscjzo2uk9" viewBox="0 0 48 48" role="img"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title id="i_hscjzo2uk9">Completed</title>
                                    <path
                                        d="m41.766 8.625-26.25 26.25-9.282-9.281a1.126 1.126 0 0 0-1.593 0l-1.06 1.06c-.44.44-.44 1.152 0 1.593L14.72 39.375c.44.44 1.153.44 1.594 0l28.106-28.106c.44-.44.44-1.153 0-1.594l-1.06-1.05a1.126 1.126 0 0 0-1.593 0z"
                                        fill-rule="evenodd"></path>
                                </svg></span> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly
                            disagree <!----> </span></label> <!----> <!----></span></div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption disagree text--purple">
                Disagree
            </div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true" class="captions--mobile">
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption agree text--green">
                    Agree
                </div>
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption disagree text--purple">
                    Disagree
                </div>
            </div>
        </div> <!---->
    </fieldset>
    <fieldset data-v-3990c07c="" data-v-2b7c218e="" aria-disabled="false" aria-invalid="false"
        class="inputoptions sp-radiogroup sp-circles question tw-flex tw-flex-col tw-items-center tw-p-0 tw-pb-[20px] tw-w-full tw-max-w-[400px] tw-border-b tw-border-gray-04 tw-transition-opacity tw-duration-500 tw-ease-in-out medium:tw-max-w-none large:tw-pb-45 group--inline group--active decision--dir-in-out-in"
        data-question="">
        <legend data-v-3990c07c="" id="label__sb3espllnz" class="sr-only"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 2 of 60.</span>
                Complex and novel ideas excite you more than simple and straightforward ones.
            </span> <!----> <!----> <!----></legend>
        <div data-v-3990c07c="" aria-hidden="true" class="input__label"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 2 of 60.</span>
                Complex and novel ideas excite you more than simple and straightforward ones.
            </span> <!----></div> <!---->
        <div data-v-3990c07c="" data-groupoptions="" class="group__options">
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption agree text--green">
                Agree
            </div>
            <div data-v-3990c07c="" class="radios"><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-j3nyf size--70 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_ermivft9hi"><input data-v-9a8dcd16=""
                            aria-label="I strongly agree" aria-busy="false" id="radio_ermivft9hi" name="_sb3espllnz"
                            type="radio" tabindex="-1" value="-3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-fsymy size--56 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_xkdp305irr"><input data-v-9a8dcd16=""
                            aria-label="I moderately agree" aria-busy="false" id="radio_xkdp305irr" name="_sb3espllnz"
                            type="radio" tabindex="-1" value="-2"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I moderately agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-hte7q size--46 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_yy3gzjkjak"><input data-v-9a8dcd16="" aria-label="I agree"
                            aria-busy="false" id="radio_yy3gzjkjak" name="_sb3espllnz" type="radio" tabindex="-1"
                            value="-1"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I agree <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-gd7f5 size--36 color--neutral"
                    data-focus-first="true" tabindex="0" data-v-3990c07c=""><label data-v-9a8dcd16=""
                        for="radio_axegevqlo6"><input data-v-9a8dcd16="" aria-label="I am not sure" aria-busy="false"
                            id="radio_axegevqlo6" name="_sb3espllnz" type="radio" data-focus-first="true" tabindex="0"
                            value="0"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I am not sure <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-glbqj size--46 color--purple"
                    tabindex="-1" data-v-3990c07c=""><label data-v-9a8dcd16="" for="radio_ko7r3wesx8"><input
                            data-v-9a8dcd16="" aria-label="I disagree" aria-busy="false" id="radio_ko7r3wesx8"
                            name="_sb3espllnz" type="radio" tabindex="-1" value="1"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I disagree
                            <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-sk48n size--56 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_yflqbja2qh"><input data-v-9a8dcd16=""
                            aria-label="I moderately disagree" aria-busy="false" id="radio_yflqbja2qh"
                            name="_sb3espllnz" type="radio" tabindex="-1" value="2"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I
                            moderately disagree <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-uina4 size--70 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_gvtpsgp92l"><input data-v-9a8dcd16=""
                            aria-label="I strongly disagree" aria-busy="false" id="radio_gvtpsgp92l" name="_sb3espllnz"
                            type="radio" tabindex="-1" value="3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly disagree <!---->
                        </span></label> <!----> <!----></span></div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption disagree text--purple">
                Disagree
            </div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true" class="captions--mobile">
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption agree text--green">
                    Agree
                </div>
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption disagree text--purple">
                    Disagree
                </div>
            </div>
        </div> <!---->
    </fieldset>
    <fieldset data-v-3990c07c="" data-v-2b7c218e="" aria-disabled="false" aria-invalid="false"
        class="inputoptions sp-radiogroup sp-circles question tw-flex tw-flex-col tw-items-center tw-p-0 tw-pb-[20px] tw-w-full tw-max-w-[400px] tw-border-b tw-border-gray-04 tw-transition-opacity tw-duration-500 tw-ease-in-out medium:tw-max-w-none large:tw-pb-45 group--inline decision--dir-in-out-in inactive tw-opacity-30"
        data-question="">
        <legend data-v-3990c07c="" id="label__n2fv51wz64" class="sr-only"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 3 of 60.</span>
                You usually feel more persuaded by what resonates emotionally with you than by factual arguments.
            </span> <!----> <!----> <!----></legend>
        <div data-v-3990c07c="" aria-hidden="true" class="input__label"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 3 of 60.</span>
                You usually feel more persuaded by what resonates emotionally with you than by factual arguments.
            </span> <!----></div> <!---->
        <div data-v-3990c07c="" data-groupoptions="" class="group__options">
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption agree text--green">
                Agree
            </div>
            <div data-v-3990c07c="" class="radios"><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-lmrtn size--70 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_bsnokvtp08"><input data-v-9a8dcd16=""
                            aria-label="I strongly agree" aria-busy="false" id="radio_bsnokvtp08" name="_n2fv51wz64"
                            type="radio" tabindex="-1" value="-3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-su741 size--56 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_gg4b13h6d8"><input data-v-9a8dcd16=""
                            aria-label="I moderately agree" aria-busy="false" id="radio_gg4b13h6d8" name="_n2fv51wz64"
                            type="radio" tabindex="-1" value="-2"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I moderately agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-r9n54 size--46 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_f6czk0408w"><input data-v-9a8dcd16="" aria-label="I agree"
                            aria-busy="false" id="radio_f6czk0408w" name="_n2fv51wz64" type="radio" tabindex="-1"
                            value="-1"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I agree <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-gb5gi size--36 color--neutral"
                    data-focus-first="true" tabindex="0" data-v-3990c07c=""><label data-v-9a8dcd16=""
                        for="radio_t5gjuv0q83"><input data-v-9a8dcd16="" aria-label="I am not sure" aria-busy="false"
                            id="radio_t5gjuv0q83" name="_n2fv51wz64" type="radio" data-focus-first="true" tabindex="0"
                            value="0"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I am not sure <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-eg45a size--46 color--purple"
                    tabindex="-1" data-v-3990c07c=""><label data-v-9a8dcd16="" for="radio_y7lhtkovth"><input
                            data-v-9a8dcd16="" aria-label="I disagree" aria-busy="false" id="radio_y7lhtkovth"
                            name="_n2fv51wz64" type="radio" tabindex="-1" value="1"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I disagree
                            <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-n3w2n size--56 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_xh82dapgzj"><input data-v-9a8dcd16=""
                            aria-label="I moderately disagree" aria-busy="false" id="radio_xh82dapgzj"
                            name="_n2fv51wz64" type="radio" tabindex="-1" value="2"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I
                            moderately disagree <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-qt1cj size--70 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_l1ub44oo2z"><input data-v-9a8dcd16=""
                            aria-label="I strongly disagree" aria-busy="false" id="radio_l1ub44oo2z" name="_n2fv51wz64"
                            type="radio" tabindex="-1" value="3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly disagree <!---->
                        </span></label> <!----> <!----></span></div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption disagree text--purple">
                Disagree
            </div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true" class="captions--mobile">
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption agree text--green">
                    Agree
                </div>
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption disagree text--purple">
                    Disagree
                </div>
            </div>
        </div> <!---->
    </fieldset>
    <fieldset data-v-3990c07c="" data-v-2b7c218e="" aria-disabled="false" aria-invalid="false"
        class="inputoptions sp-radiogroup sp-circles question tw-flex tw-flex-col tw-items-center tw-p-0 tw-pb-[20px] tw-w-full tw-max-w-[400px] tw-border-b tw-border-gray-04 tw-transition-opacity tw-duration-500 tw-ease-in-out medium:tw-max-w-none large:tw-pb-45 group--inline decision--dir-in-out-in inactive tw-opacity-30"
        data-question="">
        <legend data-v-3990c07c="" id="label__m9fa0bm347" class="sr-only"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 4 of 60.</span>
                Your living and working spaces are clean and organized.
            </span> <!----> <!----> <!----></legend>
        <div data-v-3990c07c="" aria-hidden="true" class="input__label"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 4 of 60.</span>
                Your living and working spaces are clean and organized.
            </span> <!----></div> <!---->
        <div data-v-3990c07c="" data-groupoptions="" class="group__options">
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption agree text--green">
                Agree
            </div>
            <div data-v-3990c07c="" class="radios"><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-fizq0 size--70 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_fzmumqfgb9"><input data-v-9a8dcd16=""
                            aria-label="I strongly agree" aria-busy="false" id="radio_fzmumqfgb9" name="_m9fa0bm347"
                            type="radio" tabindex="-1" value="-3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-h4dtx size--56 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_d62qcpt0jo"><input data-v-9a8dcd16=""
                            aria-label="I moderately agree" aria-busy="false" id="radio_d62qcpt0jo" name="_m9fa0bm347"
                            type="radio" tabindex="-1" value="-2"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I moderately agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-mpwjt size--46 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_voxf5n4nq8"><input data-v-9a8dcd16="" aria-label="I agree"
                            aria-busy="false" id="radio_voxf5n4nq8" name="_m9fa0bm347" type="radio" tabindex="-1"
                            value="-1"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I agree <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-zban8 size--36 color--neutral"
                    data-focus-first="true" tabindex="0" data-v-3990c07c=""><label data-v-9a8dcd16=""
                        for="radio_oji11i9tvl"><input data-v-9a8dcd16="" aria-label="I am not sure" aria-busy="false"
                            id="radio_oji11i9tvl" name="_m9fa0bm347" type="radio" data-focus-first="true" tabindex="0"
                            value="0"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I am not sure <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-zf8ce size--46 color--purple"
                    tabindex="-1" data-v-3990c07c=""><label data-v-9a8dcd16="" for="radio_k44whuh3vw"><input
                            data-v-9a8dcd16="" aria-label="I disagree" aria-busy="false" id="radio_k44whuh3vw"
                            name="_m9fa0bm347" type="radio" tabindex="-1" value="1"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I disagree
                            <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-qlz6k size--56 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_hcb0ikijza"><input data-v-9a8dcd16=""
                            aria-label="I moderately disagree" aria-busy="false" id="radio_hcb0ikijza"
                            name="_m9fa0bm347" type="radio" tabindex="-1" value="2"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I
                            moderately disagree <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-ld1ga size--70 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_ct0dri9l2z"><input data-v-9a8dcd16=""
                            aria-label="I strongly disagree" aria-busy="false" id="radio_ct0dri9l2z" name="_m9fa0bm347"
                            type="radio" tabindex="-1" value="3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly disagree <!---->
                        </span></label> <!----> <!----></span></div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption disagree text--purple">
                Disagree
            </div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true" class="captions--mobile">
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption agree text--green">
                    Agree
                </div>
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption disagree text--purple">
                    Disagree
                </div>
            </div>
        </div> <!---->
    </fieldset>
    <fieldset data-v-3990c07c="" data-v-2b7c218e="" aria-disabled="false" aria-invalid="false"
        class="inputoptions sp-radiogroup sp-circles question tw-flex tw-flex-col tw-items-center tw-p-0 tw-pb-[20px] tw-w-full tw-max-w-[400px] tw-border-b tw-border-gray-04 tw-transition-opacity tw-duration-500 tw-ease-in-out medium:tw-max-w-none large:tw-pb-45 group--inline decision--dir-in-out-in inactive tw-opacity-30"
        data-question="">
        <legend data-v-3990c07c="" id="label__xqzry2s08z" class="sr-only"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 5 of 60.</span>
                You usually stay calm, even under a lot of pressure.
            </span> <!----> <!----> <!----></legend>
        <div data-v-3990c07c="" aria-hidden="true" class="input__label"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 5 of 60.</span>
                You usually stay calm, even under a lot of pressure.
            </span> <!----></div> <!---->
        <div data-v-3990c07c="" data-groupoptions="" class="group__options">
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption agree text--green">
                Agree
            </div>
            <div data-v-3990c07c="" class="radios"><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-x7yd1 size--70 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_qxco75uh2u"><input data-v-9a8dcd16=""
                            aria-label="I strongly agree" aria-busy="false" id="radio_qxco75uh2u" name="_xqzry2s08z"
                            type="radio" tabindex="-1" value="-3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-qkada size--56 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_ad1id8gvht"><input data-v-9a8dcd16=""
                            aria-label="I moderately agree" aria-busy="false" id="radio_ad1id8gvht" name="_xqzry2s08z"
                            type="radio" tabindex="-1" value="-2"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I moderately agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-vpjum size--46 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_dsayhdmd7j"><input data-v-9a8dcd16="" aria-label="I agree"
                            aria-busy="false" id="radio_dsayhdmd7j" name="_xqzry2s08z" type="radio" tabindex="-1"
                            value="-1"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I agree <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-g2x7k size--36 color--neutral"
                    data-focus-first="true" tabindex="0" data-v-3990c07c=""><label data-v-9a8dcd16=""
                        for="radio_zfkatvmzap"><input data-v-9a8dcd16="" aria-label="I am not sure" aria-busy="false"
                            id="radio_zfkatvmzap" name="_xqzry2s08z" type="radio" data-focus-first="true" tabindex="0"
                            value="0"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I am not sure <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-mghbw size--46 color--purple"
                    tabindex="-1" data-v-3990c07c=""><label data-v-9a8dcd16="" for="radio_lb0fp54n3a"><input
                            data-v-9a8dcd16="" aria-label="I disagree" aria-busy="false" id="radio_lb0fp54n3a"
                            name="_xqzry2s08z" type="radio" tabindex="-1" value="1"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I disagree
                            <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-y6zgm size--56 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_b150dswwx0"><input data-v-9a8dcd16=""
                            aria-label="I moderately disagree" aria-busy="false" id="radio_b150dswwx0"
                            name="_xqzry2s08z" type="radio" tabindex="-1" value="2"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I
                            moderately disagree <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-wm8fu size--70 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_h8kdhuslln"><input data-v-9a8dcd16=""
                            aria-label="I strongly disagree" aria-busy="false" id="radio_h8kdhuslln" name="_xqzry2s08z"
                            type="radio" tabindex="-1" value="3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly disagree <!---->
                        </span></label> <!----> <!----></span></div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption disagree text--purple">
                Disagree
            </div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true" class="captions--mobile">
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption agree text--green">
                    Agree
                </div>
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption disagree text--purple">
                    Disagree
                </div>
            </div>
        </div> <!---->
    </fieldset>
    <fieldset data-v-3990c07c="" data-v-2b7c218e="" aria-disabled="false" aria-invalid="false"
        class="inputoptions sp-radiogroup sp-circles question tw-flex tw-flex-col tw-items-center tw-p-0 tw-pb-[20px] tw-w-full tw-max-w-[400px] tw-border-b tw-border-gray-04 tw-transition-opacity tw-duration-500 tw-ease-in-out medium:tw-max-w-none large:tw-pb-45 group--inline decision--dir-in-out-in inactive tw-opacity-30"
        data-question="">
        <legend data-v-3990c07c="" id="label__fxek92nvy1" class="sr-only"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 6 of 60.</span>
                You find the idea of networking or promoting yourself to strangers very daunting.
            </span> <!----> <!----> <!----></legend>
        <div data-v-3990c07c="" aria-hidden="true" class="input__label"><span data-v-3990c07c=""
                class="statement text-center"><span data-v-3990c07c="" class="sr-only">Question 6 of 60.</span>
                You find the idea of networking or promoting yourself to strangers very daunting.
            </span> <!----></div> <!---->
        <div data-v-3990c07c="" data-groupoptions="" class="group__options">
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption agree text--green">
                Agree
            </div>
            <div data-v-3990c07c="" class="radios"><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-blf9h size--70 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_ns5rw5jfph"><input data-v-9a8dcd16=""
                            aria-label="I strongly agree" aria-busy="false" id="radio_ns5rw5jfph" name="_fxek92nvy1"
                            type="radio" tabindex="-1" value="-3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-q70eq size--56 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_vuom77djbr"><input data-v-9a8dcd16=""
                            aria-label="I moderately agree" aria-busy="false" id="radio_vuom77djbr" name="_fxek92nvy1"
                            type="radio" tabindex="-1" value="-2"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I moderately agree <!---->
                        </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-hs1po size--46 color--green" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_t84i78iuw6"><input data-v-9a8dcd16="" aria-label="I agree"
                            aria-busy="false" id="radio_t84i78iuw6" name="_fxek92nvy1" type="radio" tabindex="-1"
                            value="-1"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I agree <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-krkdh size--36 color--neutral"
                    data-focus-first="true" tabindex="0" data-v-3990c07c=""><label data-v-9a8dcd16=""
                        for="radio_ejxhfho8c1"><input data-v-9a8dcd16="" aria-label="I am not sure" aria-busy="false"
                            id="radio_ejxhfho8c1" name="_fxek92nvy1" type="radio" data-focus-first="true" tabindex="0"
                            value="0"> <span data-v-9a8dcd16="" class="radio__tick"> <!----></span> <span
                            data-v-9a8dcd16="" class="radio__label">I am not sure <!----> </span></label> <!---->
                    <!----></span><span data-v-9a8dcd16="" class="sp-radio radio--opt-j1ry8 size--46 color--purple"
                    tabindex="-1" data-v-3990c07c=""><label data-v-9a8dcd16="" for="radio_byynxiq2kg"><input
                            data-v-9a8dcd16="" aria-label="I disagree" aria-busy="false" id="radio_byynxiq2kg"
                            name="_fxek92nvy1" type="radio" tabindex="-1" value="1"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I disagree
                            <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-fr51v size--56 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_mpfzmyuai5"><input data-v-9a8dcd16=""
                            aria-label="I moderately disagree" aria-busy="false" id="radio_mpfzmyuai5"
                            name="_fxek92nvy1" type="radio" tabindex="-1" value="2"> <span data-v-9a8dcd16=""
                            class="radio__tick"> <!----></span> <span data-v-9a8dcd16="" class="radio__label">I
                            moderately disagree <!----> </span></label> <!----> <!----></span><span data-v-9a8dcd16=""
                    class="sp-radio radio--opt-jtdip size--70 color--purple" tabindex="-1" data-v-3990c07c=""><label
                        data-v-9a8dcd16="" for="radio_rh0ssuer01"><input data-v-9a8dcd16=""
                            aria-label="I strongly disagree" aria-busy="false" id="radio_rh0ssuer01" name="_fxek92nvy1"
                            type="radio" tabindex="-1" value="3"> <span data-v-9a8dcd16="" class="radio__tick">
                            <!----></span> <span data-v-9a8dcd16="" class="radio__label">I strongly disagree <!---->
                        </span></label> <!----> <!----></span></div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true"
                class="captions--desktop caption disagree text--purple">
                Disagree
            </div>
            <div data-v-2b7c218e="" data-v-3990c07c="" aria-hidden="true" class="captions--mobile">
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption agree text--green">
                    Agree
                </div>
                <div data-v-2b7c218e="" data-v-3990c07c="" class="caption disagree text--purple">
                    Disagree
                </div>
            </div>
        </div> <!---->
    </fieldset>
    <!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
</div>